LCFila/wwwroot/* linguist-vendored
*.css linguist-detectable=false
*.cshtml linguist-language=HTML+Razor
*          text=auto

*.cs       text diff=csharp
*.cshtml   text diff=html
*.csx      text diff=csharp
*.sln      text eol=crlf
*.csproj   text eol=crlf
