################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/LCFila.Web/bin/*
/.vs/*
/LCFila.Web/obj/*
/LCFila.Application/bin/*
/LCFila.Application/obj/*
/LCFila.Domain/bin/*
/LCFila.Domain/obj/*
/LCFila.Infra/bin/*
/LCFila.Infra/obj/*
**/obj/*