# Remove vendor static files from the statistics
LCFila/wwwroot/lib/** linguist-vendored
# Don't take .css files into consideration
# *.css linguist-detectable=false
# This should classify correct the razor pages, but it's not
*.cshtml linguist-language=HTML+Razor
# This folder is documentation
docs/* linguist-documentation
# Auto generated helpers, doesn't seems to do anything
#*          text=auto

#*.cs       text diff=csharp
#*.cshtml   text diff=razor
#*.csx      text diff=csharp
#*.sln      text eol=crlf
#*.csproj   text eol=crlf
