################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/LCFila/bin/*
/.vs/*
/LCFila/obj/*
/LCFilaApplication/bin/*
/LCFilaApplication/obj/*
/LCFilaApplication/obj
/LCFilaDomain/bin/Debug/net6.0
/LCFilaDomain/obj
/LCFilaInfra/bin/Debug/net6.0
/LCFilaInfra/obj
