@using LCFila.Web.Models
@using LCFila.Web.Models.Empresa
@model EmpresaLoginViewModel

<div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Adicionar Cliente</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item">Fila</li>
                        <li class="breadcrumb-item active">Adicionar Cliente</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content text-center col-xxl-6 col-xl-9 col-md-12 col-sm-12 col-md-12  m-auto">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Adicionar Empresa</h3>
            </div>
            <!-- form start -->
            <form asp-action="Create">
                <div class="card-body">
                    <vc:Summary></vc:Summary>

                    <div class="form-group">
                        <label asp-for="NomeEmpresa" class="control-label"></label>
                        <input asp-for="NomeEmpresa" class="form-control" />
                        <span asp-validation-for="NomeEmpresa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CNPJ" class="control-label"></label>
                        <input asp-for="CNPJ" class="form-control" />
                        <span asp-validation-for="CNPJ" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                            <label asp-for="Ativo" class="control-label"></label>
                            <input class="form-check-input" style="margin-left: 3px" asp-for="Ativo" checked />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Cadastrar" class="btn btn-primary" />
                        <a class="btn btn-info" asp-action="Index">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </section>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }