@{
    ViewData["Title"] = "Proibido";
}

<div class="">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <h1 class="text-danger">Proibido.</h1>
                
            </div>
            <div class="row mb-2">
                <p class="text-danger">Essa conta está bloqueada, contate o administrador do sistema para maiores detalhes.</p>
            </div>
        </div>
    </section>
</div>