@model LCFila.ViewModels.PessoaViewModel
@{
    Layout = "_LayoutCliente";
}

<div class="h-100" style="">
    <div class="pt-5"></div>
    <div class="pt-5 pb-5 lcfilabackground">
        <div class="row justify-content-center">
            <i class="far fa-clock"></i>
            <p class="pl-2">
                Você está na lista de espera
            </p>
        </div>
        <div class="row justify-content-center">
            <span class="iconify" data-icon="mdi:account-arrow-right" data-width="30" data-height="30"></span>
            <p class="pl-2">
                Você está na posição 
            </p>
        </div>
    </div>
</div>