@model LCFila.Web.Models.CreateFilaViewModel

<div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Criar Fila</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item">Fila</li>
                        <li class="breadcrumb-item active">Criar Fila</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content text-center col-xxl-6 col-xl-9 col-md-12 col-sm-12 col-md-12  m-auto">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Criar Fila</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-action="CreateFila">
                <div class="card-body">
                    <vc:Summary></vc:Summary>
                    <input asp-for="UserId" type="hidden" class="form-control" />
                    <input asp-for="EmpresaId" type="hidden" class="form-control" />
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Criar Fila" class="btn btn-primary" />
                        <a class="btn btn-info" asp-action="Index">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </section>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        BuscaCep();
    </script>
}