@model LCFilaApplication.Models.FilaPessoa

@{
    ViewData["Title"] = "Delete";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Excluir FilaPessoa</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">Excluir FilaPessoa</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Excluir FilaPessoa</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">

                <table id="example" class="table table-hover table-striped ">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        <h3>Você tem certeza que deseja excluir essa FilaPessoa?</h3>
                        <div>
    <hr />
    <dl class="row">
    </dl>
    
                         </tbody>
                </table>
                @if (TempData["mensagemErro"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
                        @TempData["mensagemErro"]
                    </div>
                }
            </div>
    <!-- /.card-body -->
            <div class="card-footer">
                <form asp-action="Delete">
                    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Excluir" class="btn btn-danger float-right" />
                </form>
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
